<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="container">
                <div class="row g-3
            " >
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">name</label>
                        <input type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">designation</label>
                         <input type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="company name" class="form-label">company name</label>
                        <input type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="salary" class="form-label">salary</label>
                        <input type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="experience" class="form-label">experience</label>
                        <input type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="employee code" class="form-label">employee code</label>
                        <input type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="phone" class="form-label">phone no</label>
                            <input type="text" class="form-control">

                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label"></label>l
                            <button class="btn btn-success">register</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
